#parking.parking
  img(src="./assets/images/parking/bg.svg", alt="", srcset="").parking__bg
  .container
    .parking__content
      .parking__title.d-fz-70.mob-fz-32.color-green.text-uppercase(data-split-lines) Паркінг
      .parking__text.default-font2.color-white-2
        .parking__text-intro.d-fz-21.mob-fz-18(data-split-lines) У Harry ти залишаєш своє авто у безпеці, а двір — для того, щоб відчувати спокій та комфорт.
        div.d-fz-21.color-green.mob-fz-18(data-split-lines) Двір без машин
        div.parking__text-paragraph.d-fz-18.mob-fz-16(data-split-lines) Простір для відновлення, де ти зможеш проводити час без шуму
        .parking__text-delimiter(data-anim-line-entry)
        div.d-fz-21.color-green.mob-fz-18(data-split-lines) Підземний паркінг на 29 місць
        div.parking__text-paragraph.d-fz-18.mob-fz-16(data-split-lines) Твій джентльменський автомобіль заслуговує на особливе ставлення: приватне та захищене місце в серці міста. Прямий доступ до паркінгу через сучасні ліфти, облаштоване укриття та інклюзивні парко місця.
        .parking__text-delimiter(data-anim-line-entry)
        div.d-fz-21.color-green.mob-fz-18(data-split-lines) Зарядки для електромобілів
        div.parking__text-paragraph.d-fz-18.mob-fz-16(data-split-lines) У Harry в тебе буде своя зарядна  станція: щоб підзаряджати авто в будинку, поки ти «підзаряджаєшся» вдома.
        .parking__text-delimiter(data-anim-line-entry)
      .parking__img
        .parking__img-wrap(data-paralax-wrap)
          img(src="./assets/images/parking/img.jpg", alt="", srcset="")