@font-face {
	font-family: 'HelveticaNeueCyr';
	font-display: swap;
	src: url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueCyr';
	font-display: swap;
	src: url('../fonts/HelveticaNeueCyr-Heavy.ttf') format('truetype');
	font-weight: 900;
}
@font-face {
	font-family: 'Skema Pro Display';
	font-display: swap;
	src: url('../fonts/SkemaProDisplay-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}