p 
  span.d-fz-21 Двір у Harry —  
  | це місце, де після “боротьби зі всім світом” ти зможеш наповнитися. І подумати про щось велике та нове. Витончена геометрія саду та англійський газон створюють відчуття спокою та бажаного “заземлення” на 30 хвилин посеред робочого дня, навіть серед міста.
p Обирай чим наповнити свій день:
ul
  li 
    span.color-green Сад у англійському
    |  стилі  — місце для тиші, де завжди думається краще, а природна краса відновлює та дає баланс
  li 
    span.color-green Дитячий майданчик
    |  — зона, де малеча росте безпечно, але із характером, що формує відкритість та цікавість до життя
  li 
    span.color-green Workout-зона
    |  — для тих, хто не уявляє себе без руху. Ранкова зарядка, вечірнє перезавантаження – тут можна давати собі маленький челендж щодня
  li 
    span.color-green Настільний теніс просто неба, 
    | бо під час гри легше планувати власні наступні кроки. Це простір для відновлення на нові ідеї!
img(src="./assets/images/advantages/tab_englishgarden.jpg", alt="", srcset="" loading="lazy")