p.d-fz-21 У Harry лобі — це соціальне «серце» простору
p Тут ти відчуваєш, що живеш у будинку, але при цьому з сервісом готелю. Консьєрж, що завжди поруч і знає деталі твого графіку краще за тебе.
ul
  li 
    span.color-green Сигарна кімната 
    | — для приватних розмов, тиші та концентрації. У бібліотеці — якісна добірка актуальної літератури, яка постійно оновлюється. Простір доповнюють лаконічні мистецькі роботи
  li 
    span.color-green Клубна зона 
    | — місце для спілкування й дозвілля резидентів. Тут відбуваються дегустації алкоголю, камерні події, зустрічі у вузькому колі. Шахи, покер чи нарди — класика джентельменського дозвілля, де важлива не тільки гра, а й стиль ведення партії
  li 
    span.color-green Harry цінує деталі, 
    | тому навіть дзвінок на вході — іменний. Harry — місце, де легко зберігати фокус та надихатися підтримкою «свого» кола
img(src="./assets/images/advantages/tab_club_infra.jpg", alt="", srcset="" loading="lazy")