p.d-fz-21 У Harry твоя безпека і комфорт — це не про функції, а деталі, які формують рівень життя.
ul 
  li 
    span.color-green Укриття:&nbsp;
    | повноцінне сховище з опаленням і санвузлом — комфортне для тривалого перебування
  li 
    span.color-green Двір без машин:&nbsp;
    | територія повністю пішохідна. Без авто в outdoor — ще більше простору та тиші
  li 
    span.color-green Відеоспостереження 24/7:&nbsp;
    | тут можна розслабитись. Всі куточки локації під наглядом, і ти — завжди в безпеці
  li 
    span.color-green Вхід по Face ID:&nbsp;
    | в Harry можна не боятись загубити ключ чи картку. Система розпізнає обличчя, а також працює через смартфон. IP-домофон — для дистанційного доступу гостей і кур’єрів
  li 
    span.color-green Система очищення води:&nbsp;
    | якісна система фільтрації
  li 
    span.color-green Освітлення:&nbsp;
    | рівномірне, м’яке світло без сліпих зон, яке не втомлює очі
  li 
    span.color-green Анти-ковзне покриття:&nbsp;
    | безпечне пересування у спільних зонах — і в приміщенні, і надворі
  li 
    span.color-green Smart Home від Ajax:&nbsp;
    | твій базовий комплект «розумного дому». Хаб, датчик руху, датчик відкриття, тривожна кнопка — який можна розширювати під себе
img(src="./assets/images/advantages/tab_safety.jpg", alt="", srcset="" loading="lazy")