p Архітектурна концепція Harry — це про втілення власного характеру в європейській філософії реновації та урбаністики простору.
ul 
  li 
    span.color-green Три корпуси: 
    | два з яких інтегруються в автентичні фасади зі сторони вул. Стороженка, а третій сміливо поглиблює сучасні архітектурні ідеї.
  li 
    span.color-green Житлові простори 
    | — функціональні та гнучкі, 25 квартир і 26 помешкань, що поєднують комфорт і приватність для тих, хто шукає «своє» місце в серці міста.
img(src="./assets/images/advantages/tab_archi.jpg", alt="", srcset="" loading="lazy")