
p.d-fz-21 Енергонезалежні:
ul
  li 
    span.color-green Автономна котельня: 
    | незалежне теплопостачання з максимальним комфортом у будь-яку пору року
img(src="./assets/images/advantages/tab_energy.jpg", alt="", srcset="" loading="lazy")