.page404 {
    width: 100%;
    height: calc(100vh);
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-graphit);
    position: relative;
    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    @include to(767){
        flex-direction: column-reverse;
        height: auto;
    }
    &__img {
        width: 100%;
        background-color: #fff;
        padding: 70px;
        @include to(1024px){
            width: 100%;
            height: calc(50vh - var(--header-h));
            padding: 40px;
        }
        @include to(600px){
            padding: 20px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__title {
        font-family: $default-font2;
        font-size: Min(pxWidthInVw(260), 260px);
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 260px */
        letter-spacing: -7.8px;
        text-transform: uppercase;
        @include to(1024px){
            font-size: 120px;
        }
        @include to(600px){
            font-size: 60px;
        }
    }
    &__text {
        width: 100%;
        padding: pxWidthInVw(100);
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
        justify-content: center;
        color: var(--color-white);
        &-description,
        &-title {
            max-width: 700px;
            text-align: center;
        }
        @include to(767px){
            padding: 80px var(--page-side-fields) 20px var(--page-side-fields);
            flex-grow: 1;
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &__button {
        border-radius: 24px;
        background: var(--green, #8DDBB0);
        box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.04);
        display: flex;
        height: 45px;
        padding: 11px 20px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        text-decoration: none;color: var(--black);
        color: var(--black, #031915);
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        @media (hover: hover) {
            transition: .25s ease-in-out;
            &:hover {
                background: var(--green-2, #5BAB8F);
            }
        }
    }
}